<div id="<%= dom_id bar %>">
<div class="card justify-content-center mx-auto" style="width: 18rem;">
  <img class="card-img-top" src="<%= bar.image %>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">
      <%= bar.name %>
    </h5>
    <p class="card-text">
      <%= bar.description %>
      <%= bar.city %>
    </p>
    <%= link_to 'Modifier', edit_bar_path(bar), class: 'btn btn-primary' %>
  </div>
</div>
</div>
<br>