<p style="color: green"><%= notice %></p>

<% content_for :title, "Bars" %>
<h1>Liste des bars</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Nombre de boissons</th>
    </tr>
  </thead>
  <tbody>
    <% @bars.each do |bar| %>
      <tr>
        <td><%= bar.name %></td>
        <td><%= bar.city %></td>
        <td><%= bar.drinks.count %></td>
        <td><%= link_to "Voir ce bar", bar %></td>
        <td><%= link_to "Ajouter une boisson", new_drink_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Voir les boissons", drinks_path %>
<%= link_to "Ajouter un bar", new_bar_path %>
