<p><%= notice %></p>

<% content_for :title, "Bars" %>
<div class="container">
  <h1 class="text-center">Bars</h1>
  <div class="row">
    <% @bars.each do |bar| %>
      <div class="col-md-4 mt-4">
        <div class="card mb-4" style="height: 100%">
          <img class="card-img-top" src="<%= bar.image %>" alt="Card image">
          <div class="card-body">
            <h5 class="card-title"><%= bar.name %></h5>
            <p class="card-text"><%= bar.city %></p>
            <p><%= bar.drinks.count %> boisson(s) disponibles</p>
            <%= link_to 'Voir +', bar_path(bar), class: 'btn btn-dark mt-2' %>
            <%= link_to 'Modifier', edit_bar_path(bar), class: 'btn btn-dark mt-2' %>
            <%= link_to "Nouvelle boisson", new_drink_path, class: "btn btn-dark mt-2" %>
            <%= button_to "Supprimer", bar, method: :delete, class:"btn btn-dark mt-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<%= link_to "Ajouter un bar", new_bar_path, class:"btn btn-dark my-4" %>
</div>
<br>
