<p><%= notice %></p>

<%= render @bar %>
  <h2>Liste des boissons :</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>
      <% if @bar.drinks.any? %>
        <% @bar.drinks.each do |drink| %>
        <tr>
          <td><%= drink.name %></td>
          <td><%= drink.price %>€</td>
        </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="2">Aucune boisson</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center gap-4">
      <%= link_to "Modifier", edit_bar_path(@bar), class:"btn btn-primary" %>
      <%= link_to "Ajouter une boisson", new_drink_path, class:"btn btn-primary" %>
      <%= button_to "Supprimer", @bar, method: :delete, class:"btn btn-primary" %>
    </div>
  </div>
</div>
